.icon-buy{
    position: relative;
    /* border: 1px solid black; */
}
.number-buy{
    position: absolute;
    right: -15px;
    top: -18px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    background-color: #fa6e4f;
    border-radius: 50%;
    color: white;
}
