* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}


.navbar-header {
    display: flex;
    align-items: center;
    padding: 5px 70px;
    background: #515154;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0rem;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.nav li .icon-buy {
    position: relative;
}

.nav li .icon-buy i {
    color: #f5c20a;
    font-size: 24px; /* Adjust the font size as needed */
}

.nav li .icon-buy .number-buy {
    position: absolute;
    bottom: -5px; /* Adjust this value to control the vertical position */
    right: -5px; /* Adjust this value to control the horizontal position */
    background-color: #f5c20a;
    color: #fff;
    font-size: 12px; /* Adjust the font size as needed */
    padding: 2px 5px; /* Add padding to the number */
    border-radius: 50%; /* Make the number a circle */
}

nav ul li a {
    font-size: 18px;
    display: block;
    line-height: 20px;
    margin-right: 30px;
    text-decoration: none;
    color: #d2d2d7;
    cursor: pointer;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}